



<!-- manually type in feeds in feeds index page-->

<!-- <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% @feeds.each do |feed| %>
              <div class="post-preview">
                  <a href="/feeds/<%= feed.id %>">
                      <h2 class="post-title">
                          <%= feed.id %>
                      </h2>
                      <h3 class="post-subtitle">
                          <%= feed.content %>
                      </h3>
                      <img src=<%= feed.image %> >
                  </a>
                  <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                  <div>Vote : <%= feed.feed_votes.count %></div>
                  <%= link_to "Like it!",feedvotes_path(feed.id) ,method: :post%>
              </div>
              <hr>
          <% end %> -->
