<h1> Introduce a new vote !</h1>
 <%= form_tag("/feedvotes", method: :post ) do  %>
    <li><%= label_tag(:image) %>
    <%= text_field_tag(:image)   %></li>

    <li><%= label_tag(:user_id) %>
    <%= text_field_tag(:user_id,current_user.id)   %></li>

    <li><%= label_tag(:feed_id) %>
    <%= text_field_tag(:feed_id,)   %></li>
    <%= submit_tag("create a vote") %>
 <% end %>
