<!DOCTYPE html>
<html>
  <head>
    <title>This is to test if the application overrides</title>
    <!-- you want font-awesome before the google fonts, so spread everywhere -->
    <link rel="stylesheet" href="font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% flash.each do |name, message| %>
      <%= message %>
    <% end %>

    <%= yield %>
  </body>
</html>
